body {
  margin: 0;
  font-family: Inter, Arial;
  background: #0f172a;
  color: white;
}

.app {
  display: flex;
  height: 100vh;
}

.left {
  width: 35%;
  padding: 20px;
  background: #020617;
  display: flex;
  flex-direction: column;
}

.right {
  flex: 1;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

textarea {
  width: 100%;
  height: 150px;
  margin-top: 10px;
  background: #020617;
  border: 1px solid #334155;
  color: white;
  padding: 10px;
}

button {
  margin-top: 10px;
  padding: 10px;
  background: #2563eb;
  border: none;
  color: white;
  cursor: pointer;
}

.mode {
  background: #020617;
  border: 1px solid #334155;
  margin-right: 5px;
}

.mode.active {
  background: #2563eb;
}

.card {
  background: #020617;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #334155;
}

.bar {
  background: #1e293b;
  height: 10px;
  border-radius: 5px;
}

#truthBar {
  height: 10px;
  background: #22c55e;
  width: 0%;
}

.history {
  margin-top: auto;
  font-size: 12px;
}

.history div {
  margin-top: 5px;
  cursor: pointer;
  color: #38bdf8;
}
