body { font-family: Arial; padding: 30px; background:#f4f4f4; }
textarea { width: 100%; height: 120px; }
button { margin: 5px; padding: 10px; }
.mode.active { background: black; color: white; }
#result { background:white; padding:20px; margin-top:20px; }
